<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/vendor.css">
    <link rel="stylesheet" href="~/css/app.css">

</head>
<body>
    <div class="main-wrapper">
        <div class="app" id="app">
            <header class="header">
                <div class="header-block header-block-collapse d-lg-none d-xl-none">
                    <button class="collapse-btn" id="sidebar-collapse-btn">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="header-block header-block-search">
                    <form role="search">
                        <div class="input-container">
                            <i class="fa fa-search"></i>
                            <input type="search" placeholder="Qidiruv">
                            <div class="underline"></div>
                        </div>
                    </form>
                </div>
                <div class="header-block header-block-nav">
                    <ul class="nav-profile">                      
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </header>

            <aside class="sidebar">
                <div class="sidebar-container">
                    <div class="sidebar-header">
                        <div class="brand">
                            <a href="/" class="nounderline">
                                <div class="logo">
                                    <span class="l l1"></span>
                                    <span class="l l2"></span>
                                    <span class="l l3"></span>
                                    <span class="l l4"></span>
                                    <span class="l l5"></span>
                                </div> Market
                            </a>
                        </div>
                    </div>
                    <nav class="menu">
                        <ul class="sidebar-menu metismenu" id="sidebar-menu">
                            <li id="Products" class="@ViewData["active_pro"]">
                                <a asp-area="" asp-controller="Products" asp-action="Index">
                                    <i class="fa fa-th-large"></i> Product
                                </a>
                            </li>
                            <li id="Employees" class="@ViewData["active_emp"]">
                                <a asp-area="" asp-controller="Employees" asp-action="Index">
                                    <i class="fa fa-table"></i> Employee
                                </a>

                            </li>
                            <li id="Delivers" class="@ViewData["active_del"]">
                                <a asp-area="" asp-controller="Delivers" asp-action="Index">
                                    <i class="fa fa-area-chart"></i> Deliver
                                </a>
                            </li>
                            <li id="OrderDetails" class="@ViewData["active_ordd"]">
                                <a asp-area="" asp-controller="OrderDetails" asp-action="Index">
                                    <i class="fa fa-pencil-square-o"></i> OrderDetail
                                </a>
                            </li>
                            <li id="Positions" class="@ViewData["active_pos"]">
                                <a asp-area="" asp-controller="Positions" asp-action="Index">
                                    <i class="menu-icon fa fa-th"></i> Positions
                                </a>
                            </li>
                            <li id="Categories" class="@ViewData["active_cat"]">
                                <a asp-area="" asp-controller="Categories" asp-action="Index">
                                    <i class="menu-icon fa fa-desktop"></i> Categorie
                                </a>
                            </li>
                                <li>
                                    <a href="profile.html">
                                        <i class="menu-icon fa fa-picture-o"></i>
                                        <span class="menu-text">Profile</span>
                                    </a>
                                </li>

                            </ul>
</nav>
                </div>
            </aside>
            <article class="content forms-page">
                <section class="section">
                    <div class="row sameheight-container">
                        @RenderBody()
                    </div>
                </section>

            </article>

            <div class="sidebar-overlay" id="sidebar-overlay"></div>
            <div class="sidebar-mobile-menu-handle" id="sidebar-mobile-menu-handle"></div>
            <div class="mobile-menu-handle"></div>

            <footer class="footer">
                <div class="footer-block buttons">
                    &copy; 2020 - MarketServer.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </div>
    </div>
    <div class="ref" id="ref">
        <div class="color-primary"></div>
        <div class="chart">
            <div class="color-primary"></div>
            <div class="color-secondary"></div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

    </environment>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>

