@model Data.Entity.Category

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="col-md-10">
    <div class="card card-block sameheight-item">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Category_Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category_Name)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.PhotoPath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PhotoPath)
            </dd>
        </dl>
    </div>
 </div>

    <div>
        <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a class="btn btn-danger-outline" asp-action="Index">Back to List</a>
    </div>
