@model Data.Entity.Order

@{
    ViewData["Title"] = "Details";
}
<div class="col-md-10">
    <div class="card card-block sameheight-item">
        <dl class="row">
            <dt>
                @Html.DisplayNameFor(model => model.Employee)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Employee.ID)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.OrderDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OrderDate)
            </dd>
        </dl>
    </div>
</div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
