@model Data.Entity.OrderDetails

@{
    ViewData["Title"] = "Details";
}

<div class="col-md-10">
    <div class="card card-block sameheight-item">
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Order)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Order.Id)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Product)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Id)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Quetity)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Quetity)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.UnitPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UnitPrice)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Descount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descount)
            </dd>
        </dl>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-info-outline" asp-action="Index">Back to List</a>
</div>